.Gallery{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    cursor: pointer;
    padding-bottom: 10px;

}
.gallery{
    width: 20rem;
    height: 24rem;
    margin: auto;

}
.Boximg{
    width: 15rem;
    height: 20rem;

}
.Boxlabel{
    width: 20rem;
    height: 1.5rem;
    background-color: purple;
    color: black;
    text-align: center;
    align-content: space-around;
    font-family: System;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 100px;
;
}